{% extends 'base.html' %}
{% block content %}
    
<div id="container">
    <main class="contents">
        {% if requests %}
        <table class="table table-bordered table-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">일시</th>
                    <th scope="col">상태</th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                <tr>
                    <th scope="row">{{ request.id }}</td>
                    <td>구매신청</a></td>
                    <td>{{ request.request_date }}</td>
                    <td>---</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>내역이 없습니다.</p>
        {% endif %}
    </main>
</div>

{% endblock %}