<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office</title>
    <style>
        h1 {
            padding: 10px;
            background-color: navy;
            color: #fff;
        }
        table {
            border: 1px solid black;
        }
        td, th {
            border: 1px dotted black;
            padding: 10px;
            text-align: center;
        }
        li { display: inline;}
    </style>
</head>
<body>
    <div id="container">
        <header>
            <a href="#"><h1>OFFICE</h1></a>
            <nav id="topMenu">
                <ul>
                    <li><a href="{% url 'list' %}">신청 리스트</a></li>
                    <li><a href="{% url 'signoff' %}">결재 리스트</a></li>
                    <li><a href="{% url 'request_create' %}" class="btn btn-primary">구매 등록</a></li>
                </ul>
            </nav>
        </header>
        <main class="contents">
            {% if date_list %}
            <table>
                <thead>
                    <tr>
                        <th>일시</th>
                        <th>상태</th>
                    </tr>
                </thead>
                <tbody>
                    {% for date in date_list %}
                    <tr>
                        <td><a href="{{ date }}/">{{ date }}</a></td>
                        <td>결재완료</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>내역이 없습니다.</p>
            {% endif %}
        </main>
    </div>
</body>
</html>